<div class="headline top_page">
  <h3><%= title %></h3>
</div>
<div class="row-fluid">
  <div id="w">
    <ul class="portfolio recent-work clearfix">
      <% audios.each do |audio| %>
        <li data-id="id-1" class="ios">
          <a href="">
            <em class="overflow-hidden">
              <% if audio["image"].present? %>
                <%= link_to (image_tag audio["image"], size: "260x164"), video_path(audio["id"]) %>
              <% else %>
                <%= link_to (image_tag "/images/musics/lansongxanh/lsx1.jpg", size: "260x164"), music_path(audio["id"]) %>
              <% end %>
            </em>
            <span>
              <i><%= audio["title"].truncate(21) %></i>
            </span>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div><!--/row-fluid-->