<div class="row-fluid">
  <!-- Lists and Descriptions -->
  <div class="row-fluid margin-bottom-20">
    <!-- Unordered Lists -->
    <div class="span3">
      <div class="headline"><h3>Nhạc việt</h3></div>
      <ul>
        <% viet_music.each do |music| %>
          <li><%= link_to song_title(music["title"], false), music_path(music["id"].to_i) %></li>
        <% end %>
      </ul>
    </div>

    <!-- Unstyled Lists -->
    <div class="span3">
      <div class="headline"><h3>Nhạc âu mỹ</h3></div>
      <ul>
        <% us_music.each do |music| %>
          <li><%= link_to song_title(music["title"], false), music_path(music["id"].to_i) %></li>
        <% end %>
      </ul>
    </div>

    <!-- Ordered Lists -->
    <div class="span3">
      <div class="headline"><h3>Làn sóng xanh</h3></div>
      <ul>
        <% lsx_music.each do |music| %>
          <li><%= link_to song_title(music["title"], false), music_path(music["id"].to_i) %></li>
        <% end %>
      </ul>
    </div>

    <!-- Unstyled Lists -->
    <div class="span3">
      <div class="headline"><h3>Nhạc vàng</h3></div>
      <ul>
        <% traditional_music.each do |music| %>
          <li><%= link_to song_title(music["title"], false), music_path(music["id"].to_i) %></li>
        <% end %>
      </ul>
    </div>
  </div><!--/row-fluid-->
</div>