<div id="clients-flexslider" class="flexslider home clients">
  <div class="headline"><h3><%= title %></h3></div>
  <ul class="slides">
    <% singers.each do |singer| %>
      <li>
        <%= link_to image_tag(singer.image_singer), singer_show_path(singer.id) %>
      </li>
    <% end %>
  </ul>
</div><!--/flexslider-->