<div class="alert alert-info alert-block">
  <button data-dismiss="alert" class="close" type="button">×</button>
  <h4>Warning!</h4>
  Sorry, but we can't find any song which you have just searched, please search againt, thank you.
</div>
