<div class="span6 booking-blocks">
  <div class="pull-left booking-img">
    <% if item["singer_image"].present? %>
      <%= link_to image_tag(item["singer_image"], class: "css_image_search"), music_path(item["id"].to_i), target: "_blank", rel: "follow" %>
    <% else %>
      <%= link_to image_tag("/images/musics/default.jpg", class: "css_image_search"), music_path(item["id"].to_i), target: "_blank", rel: "follow" %>
    <% end %>
    <ul class="unstyled">
      <li><i class="icon-user-md"></i><%= song_singer(item["singer_name"], true) %></li>
      <li><i class="icon-magic"></i><%= item["type_music"] %></li>
    </ul>
  </div>
  <div style="overflow:hidden;">
    <h2><%= link_to song_title(item["title"], true), music_path(item["id"].to_i), target: "_blank", rel: "follow" %></h2>
    <div><i class="icon-time"></i> <%= format_date_time(item["updated_at"].to_date) %></div>
    <p><%= song_lyrics(item["information"], true) %></p>
  </div>
</div>
