<div class="search-open">
  <div class="input-append">
    <%= form_tag(search_index_path, method: :get)  do %>
      <%= text_field_tag :query , nil, class: "", placeholder: "Search" %>
      <%= submit_tag "Go", class: "btn-u" %>
    <% end %>
  </div>
</div>
