<%= form_for message, as: :message, url: messages_path, method: :post, html: {id: "id_form_message", class: "css_form_message"} do |f| %>
  <%= f.label "Title" %>
  <%= f.text_field :title, class: "form-control" %>
  <br />
  <%= f.label "Content" %>
  <%= f.text_area :content, :class => "tinymce", :row => 100, :cols => 120 %>
  <%= tinymce %>
  <br />
  <%= f.submit "Create", class: "btn btn-primary" %>
<% end %>
