<div class="row">
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-8">
    <h2>Danh sách các tin nhắn của bạn.</h2>
    <p><%= link_to "Create", new_message_path %></p>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>No</th>
          <th>Tiêu đề</th>
          <th>Nội dung</th>
          <th>Ngày gửi</th>
        </tr>
      </thead>
      <% @messages.each do |message| %>
      <tr class="<%= message.watched? ? "" : "css_new_message" %>">
        <th scope="row"><%= link_to message.id, message_path(message.id) %></th>
        <td><%= message.title %></td>
        <td><%= message.content.truncate(20) %></td>
        <td><%= message.created_at %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
<%= paginate @messages %>
