<div class="row">
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-8">
    <h2>Nội dung tin nhắn của bạn</h2>
    <%= @message.title %>
    <p><%= raw @message.content %></p>
  </div>
</div>
<%= link_to "List messages", messages_path %>

