<%-
  @title_tag = "#{@story.try(:name)} - Siêu nhạc - sieunhac.com"
  @meta_description = "Dịch vụ chia sẻ #{@story.try(:name)} của sieu nhac, đến với trang web siêu nhạc, bạn sẽ tìm thấy tất cả các #{@story.try(:title)} đuợc nhiều nguời xem nhất hiện nay trên sieu nhac, đủ các thể loại, từ anime, commedy, 18+, adult, Đọc truyện tranh online mới nhất, sieunhac.com nhanh nhất như One Piece, Hiệp khách giang hồ, Fairy Tail, Naruto, Bleach,  sieunhac, Toriko..."
  @meta_robots = "index, follow"
  @meta_keywords = "sieunhac,#{@story.try(:name)}, Đọc truyện tranh online,One Piece, Hiệp khách giang hồ, Fairy Tail, sieunhac.com, Naruto, Bleach, Toriko"
  @meta_author = "Bản quyền của dịch vụ sieunhac.com."

  breadcrumb = []
  breadcrumb << { name: "Trang chủ", path: root_path }
  breadcrumb << { name: @category_story.try(:name), path: category_story_path(@category_story.id) }
  breadcrumb << { name: @story_type.title, path: story_type_path(@story_type.slug) }
  breadcrumb << { name: @story.name }
-%>

<%= render partial: "share/breadcrumb/breadcrumb",
    locals: { breadcrumb: breadcrumb, title: @story.try(:name) }
%>

<div class="container">
  <div class="row-fluid blog-page blog-item">
    <div class="span9">
      <div class="media">
        <a class="pull-left">
          <%= image_tag @story.image, class: "media-object"  %>
        </a>
        <div class="media-body">
          <h4 class="media-heading"><%= @story.name %></h4>
          <p><%= @story.short_content %></p>
          <hr />
          <!-- Nested media object -->
          <div class="span10">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Tên chương</th>
                  <th>Ngày cập nhật</th>
                </tr>
              </thead>
              <tbody>
                <% @chapters.each do |chapter| %>
                  <tr>
                    <td>
                      <%= link_to chapter.title, story_chapter_path(@story.slug, chapter.slug) %>
                    </td>
                    <td><%= chapter.updated_at %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div><!--/media-->
    </div><!--/span9-->

    <!-- Right Sidebar -->
    <div class="span3">
      <div class="posts margin-bottom-20">
        <div class="headline"><h3>Truyện hot</h3></div>
        <% @recommend_stories.each do |recommend| %>
          <dl class="dl-horizontal">
            <dt>
              <%= link_to image_tag(recommend.image), story_path(recommend.slug) %>
            </dt>
            <dd>
              <p><%= link_to recommend.name, story_path(recommend.slug) %></p>
            </dd>
          </dl>
        <% end %>
      </div>
      <% cache("facebook_fanpage") do %>
        <%= render partial: "share/facebook/fanpage" %>
      <% end %>
    </div>
  </div>
  <div class="pagination pagination-centered">
    <%= paginate @chapters, :theme => 'twitter-bootstrap-3' %>
  </div>
</div>
