$("#results").append('<%= j render partial: "story/item", locals: {chapters: @chapters, story: @story} %>');
<% if @chapters.next_page %>
  $(".pagination").replaceWith('<%= j will_paginate @chapters %>');
<% else %>
  $(".pagination").remove();
<% end %>
<% sleep 1 %>