<!--=== Header ===-->
<div class="header">
  <div class="container">
    <!-- Logo -->
    <div class="logo">
      <%= link_to image_tag("sieunhac_v1.png", id: "logo-header", alt: "Logo"), root_path %>
    </div><!-- /logo -->

    <!-- Menu -->
    <div class="navbar">
      <div class="navbar-inner">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a><!-- /nav-collapse -->
        <div class="nav-collapse collapse">
          <ul class="nav top-2">
            <li>
              <a class="dropdown-toggle" data-toggle="dropdown">Ngôi sao
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <% cache("cache_header_ngoisao_view") do %>
                  <% ngoisao_header.each do |category|  %>
                    <li><%= link_to category.sub_category, category_news_path(category.slug) %></li>
                  <% end %>
                <% end %>
              </ul>
              <b class="caret-out"></b>
            </li>
            <li>
              <a class="dropdown-toggle" data-toggle="dropdown">Bếp Eva
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <% cache("cache_bepeva_header_view") do %>
                  <% bepeva_header.each do |category|  %>
                    <li><%= link_to category.sub_category, category_news_path(category.slug) %></li>
                  <% end %>
                <% end %>
              </ul>
              <b class="caret-out"></b>
            </li>
            <li>
              <a class="dropdown-toggle" data-toggle="dropdown">Video
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Sơn Tùng MTP", category_video_path(12) %></li>
                <li><%= link_to "Kenvin Khánh", category_video_path(5) %></li>
                <li><%= link_to "Khoa học", category_video_path(7) %></li>
                <li><%= link_to "Quân sự", category_video_path(8) %></li>
              </ul>
            </li>
            <li>
              <a class="dropdown-toggle" data-toggle="dropdown">Trẻ
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <% cache("cache_header_tre_view") do %>
                  <% tre_header.each do |category|  %>
                    <li><%= link_to category.sub_category, category_news_path(category.slug) %></li>
                  <% end %>
                <% end %>
              </ul>
              <b class="caret-out"></b>
            </li>
            <li>
              <a class="dropdown-toggle" data-toggle="dropdown">Tâm sự
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Tâm sự", category_news_path(tamsu_header) %></li>
                <li><%= link_to "Ăn chơi", category_news_path(anchoi_header) %></li>
                <li><%= link_to "Đời sống", category_news_path(doisong_header) %></li>
              </ul>
              <b class="caret-out"></b>
            </li>
            <li>
              <a class="dropdown-toggle" data-toggle="dropdown">Truyện
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <% truyen_header.each do |story| %>
                  <li><%= link_to story.name, category_story_path(story.id) %></li>
                <% end %>
              </ul>
              <b class="caret-out"></b>
            </li>
            <li>
              <a class="dropdown-toggle" data-toggle="dropdown">Làm đẹp
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <% lamdep_header.each do |category|  %>
                  <li><%= link_to category.sub_category, category_news_path(category.slug) %></li>
                <% end %>
              </ul>
              <b class="caret-out"></b>
            </li>
            <li><a class="search"><i class="icon-search search-btn"></i></a></li>
          </ul>
          <%= render partial: "share/search/search" %>
        </div><!-- /nav-collapse -->
      </div><!-- /navbar-inner -->
    </div><!-- /navbar -->
  </div><!-- /container -->
</div><!--/header -->
<!--=== End Header ===-->
<% if Rails.env == "production" %>
  <%= render partial: "share/analytics/analytics" %>
<% end %>
