<!--=== Content Part ===-->
<div class="container portfolio-item">
  <div class="row-fluid margin-bottom-20">
    <!-- Carousel -->
    <div class="span7">
      <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
          <%= render partial: "shared/media", locals: {music: music} %>
        </div>
      </div>
    </div><!--/span7-->
    <!-- //End Tabs and Carousel -->

    <div class="span5">
      <h3><%= music["title"] %></h3>
      <p><%= music["lyrics"].try(:html_safe) %></p>
      <ul class="unstyled">
        <li><i class="icon-user color-green"></i><%= set_singer(music["singer"]) %></li>
        <li><i class="icon-calendar color-green"></i><%= music["birthday"] %></li>
        <li><i class="icon-tags color-green"></i><%= set_country(music["country"]) %></li>
      </ul>
      <p><a class="btn-u btn-u-large" href="#">VISIT THE PROJECT</a></p>
    </div>
  </div><!--/row-fluid-->
</div><!--/container-->
<!--=== End Content Part ===-->
