<script src="http://jwpsrv.com/library/GvguGCuLEeSxIiIACyaB8g.js"></script>
<div id='playerANfePyPvbHrR'></div>

<script type='text/javascript'>
    jwplayer('playerANfePyPvbHrR').setup({
        file: "<%= get_link_original(music) %>",
        image: 'http://cdn-prod.www.aws.nypl.org/sites/default/files/music-color.jpg',
        title: "<%= music["title"] %>",
        width: '100%',
        aspectratio: '16:9',
        repeat: 'always',
        autoplay: true
    });
</script>
