  <!-- Recent Works -->
  <div class="headline"><h3>Recent Works</h3></div>
  <div class="row-fluid margin-bottom-40">
    <ul id="list" class="bxslider recent-work">
      <li>
        <a href="#">
          <em class="overflow-hidden"><img src="assets/img/carousel/2.jpg" alt="" /></em>
          <span>
            <strong>Happy New Year</strong>
            <i>Anim pariatur cliche reprehenderit</i>
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <em class="overflow-hidden"><img src="assets/img/carousel/9.jpg" alt="" /></em>
          <span>
            <strong>Award Winning Agency</strong>
            <i>Responsive Bootstrap Template</i>
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <em class="overflow-hidden"><img src="assets/img/carousel/4.jpg" alt="" /></em>
          <span>
            <strong>Wolf Moon Officia</strong>
            <i>Pariatur prehe cliche reprehrit</i>
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <em class="overflow-hidden"><img src="assets/img/carousel/5.jpg" alt="" /></em>
          <span>
            <strong>Food Truck Quinoa Nesciunt</strong>
            <i>Craft labore wes anderson cred</i>
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <em class="overflow-hidden"><img src="assets/img/carousel/6.jpg" alt="" /></em>
          <span>
            <strong>Happy New Year</strong>
            <i>Anim pariatur cliche reprehenderit</i>
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <em class="overflow-hidden"><img src="assets/img/carousel/7.jpg" alt="" /></em>
          <span>
            <strong>Award Winning Agency</strong>
            <i>Responsive Bootstrap Template</i>
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <em class="overflow-hidden"><img src="assets/img/carousel/8.jpg" alt="" /></em>
          <span>
            <strong>Wolf Moon Officia</strong>
            <i>Pariatur prehe cliche reprehrit</i>
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <em class="overflow-hidden"><img src="assets/img/carousel/9.jpg" alt="" /></em>
          <span>
            <strong>Food Truck Quinoa Nesciunt</strong>
            <i>Craft labore wes anderson cred</i>
          </span>
        </a>
      </li>
    </ul>
  </div><!--/row-->
  <!-- //End Recent Works -->
  <!--=== End Content Part ===-->
