<!--=== Slider ===-->
<div class="slider-inner">
  <div id="da-slider" class="da-slider">
    <div class="da-slide">
      <h2><i>CLEAN &amp; FRESH</i> <br /> <i>FULLY RESPONSIVE</i> <br /> <i>DESIGN</i></h2>
      <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i> <br /> <i>veniam omnis </i></p>
      <div class="da-img"><%= image_tag "plugins/parallax-slider/img/1.png"%></div>
    </div>
    <div class="da-slide">
      <h2><i>RESPONSIVE VIDEO</i> <br /> <i>SUPPORT AND</i> <br /> <i>MANY MORE</i></h2>
      <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i></p>
      <div class="da-img span6">
        <div class="span6">
          <iframe src="http://player.vimeo.com/video/47911018" width="100%" height="320" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
    <div class="da-slide">
      <h2><i>USING BEST WEB</i> <br /> <i>SOLUTIONS WITH</i> <br /> <i>HTML5/CSS3</i></h2>
      <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i> <br /> <i>veniam omnis </i></p>
      <div class="da-img"><%= image_tag "plugins/parallax-slider/img/html5andcss3.png" %></div>
    </div>
    <nav class="da-arrows">
      <span class="da-arrows-prev"></span>
      <span class="da-arrows-next"></span>
    </nav>
  </div><!--/da-slider-->
</div><!--/slider-->
<!--=== End Slider ===-->