<!--=== Top ===-->
<div class="top">
  <div class="container">
    <ul class="loginbar pull-right">
      <% if current_user %>
        <li>
          <i class="icon-user"></i><a>Hi, <%= current_user.nick_name %><i class="icon-sort-up"></i></a>
          <ul class="nav-list">
            <% if current_user.admin == 1 %>
              <li><%= link_to "Admin", admin_home_index_path %></li>
            <% end %>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      <% else %>
        <li>
          <i class="icon-user"></i>
          <%= link_to "Đăng nhập", "", id: 'login', class: "login-btn", "data-toggle" => "modal", 'data-target' => '#loginModal' %>
        </li>
      <% end %>
      <li class="devider">&nbsp;</li>
      <li>
        <i class="icon-plane"></i><%= link_to "Quy định", privacy_path %>
      </li>
      <% if current_user %>
        <li class="devider">&nbsp;</li>
        <li>
          <i class="icon-globe"></i><%= link_to "API", list_api_path %>
        </li>
      <% end %>
    </ul>
  </div>
</div><!--/top-->
<!--=== End Top ===-->
<%= render partial: "users/sessions/login" %>
