<div class="row-fluid margin-bottom-30">
    <blockquote class="hero"><!-- add class pagination-centered to center the text-->
      <p>Award winning digital agency. We bring a personal and effective approach to every project we work on, which is why our clients love us and why they keep coming back. Lorem sequat ipsum dolor lorem sit amet, Lorem sequat ipsum dolor lorem sit amet consectetur adipiscing dolor elit.</p>
      <small>CEO, Joe Black</small>
    </blockquote>
  </div>