<div class="row-fluid margin-bottom-20">
  <!-- Unordered Lists -->
  <div class="span3">
    <div class="headline"><h3>Ca Sĩ Việt Nam</h3></div>
    <ul>
      <% top_singer_vn.each do |singer| %>
        <li><%= link_to singer.try(:name), singer_path(singer.try(:id)) %></li>
      <% end %>
    </ul>
  </div>

  <!-- Unstyled Lists -->
  <div class="span3">
    <div class="headline"><h3>Ca Sĩ Châu Á</h3></div>
    <ul>
      <% top_singer_asian.each do |singer| %>
        <li><%= link_to singer.try(:name), singer_path(singer.try(:id)) %></li>
      <% end %>
    </ul>
  </div>

  <!-- Ordered Lists -->
  <div class="span3">
    <div class="headline"><h3>Ca Sĩ Âu Mỹ</h3></div>
    <ul>
      <% top_singer_us.each do |singer| %>
        <li><%= link_to singer.try(:name), singer_path(singer.try(:id)) %></li>
      <% end %>
    </ul>
  </div>

  <!-- Unstyled Lists -->
  <div class="span3">
    <div class="headline"><h3>Ca Sĩ Hải Ngoại</h3></div>
    <ul>
      <% top_singer_foreign_vn.each do |singer| %>
        <li><%= link_to singer.try(:name), singer_path(singer.try(:id)) %></li>
      <% end %>
    </ul>
  </div>
</div><!--/row-flu
