<div class="row-fluid margin-bottom-5">
    <blockquote class="hero pagination-centered">
      <p><em>Award winning digital agency. We bring a personal and effective approach to every project we work on, which is why our clients love us and why they keep coming back. Lorem sequat ipsum dolor lorem sit amet, Lorem sequat ipsum dolor lorem sit amet consectetur adipiscing dolor elit.</em></p>
    </blockquote>
  </div>