<%-
  singer_name = @singer_musics.try(:first).try(:[],:singer_name)
  @title_tag = "Kết quả | #{singer_name} - Siêu nhạc - sieunhac.com"
  @meta_title = "sieunhac.com #{song_title(singer_name, false)} | Bài hát, mp3, lyrics"
  @meta_description = "#{singer_name}, nghe nhạc chất lượng cao siêu nhạc #{singer_name} bài hát album video mp3 đẹp nhất từ siêu nhạc #{singer_name}"
  @meta_robots = "index, follow"
  @meta_keywords = singer_name
  @meta_author = "Bản quyền của dịch vụ sieu nhac."
  breadcrumb = []
  breadcrumb << { name: "Trang chủ", path: root_path }
  breadcrumb << { name:  singer_name }
-%>

<%= render partial: "share/breadcrumb/breadcrumb", locals: { breadcrumb: breadcrumb, title: singer_name } %>
<!--=== Content Part ===-->
<div class="container">
  <!-- Search Result -->
  <div class="row-fluid search-page">
    <% unless @singer_musics.present? %>
      <%= render partial: "share/alert/alert", locals: { title: "Không tìm thấy bất cứ bản nhạc nào, vui lòng thử lại hoặc tìm kiếm với từ khoá khác." } %>
    <% end %>
    <% @singer_musics.each_slice(2) do |music| %>
      <div class="row-fluid">
        <% music.each do |item|%>
          <%= render partial: "share/search/item", locals: { item: item } %>
        <% end %>
      </div>
    <% end %>

    <div class="pagination pagination-centered">
      <%= paginate @singer_musics, :theme => 'twitter-bootstrap-3' %>
    </div>
  </div><!--/row-fluid-->
<!-- //End Search Result -->
</div><!--/container-->
<!--=== End Content Part ===-->
