<%-
  @meta_robots = "index, follow"
  breadcrumb = []
  breadcrumb << { name: "Trang chủ", path: root_path }
  breadcrumb << { name: "Kết quả" }
-%>
<% title "Kết quả | #{@results.try(:first).try(:[],:title)} Bài hát, mp3, lyrics" %>
<% description "#{@results.try(:first).try(:[],:title)}, nghe nhạc chất lượng cao siêu nhạc #{@results.try(:first).try(:[],:title)} bài hát album video mp3 đẹp nhất từ siêu nhạc #{@results.try(:first).try(:[],:title)}" %>
<% keywords @results.try(:first).try(:[],:title) %>

<%= render partial: "share/breadcrumb/breadcrumb", locals: { breadcrumb: breadcrumb, title: "Kết quả" } %>
<!--=== Content Part ===-->
<div class="container">
  <!-- Search Result -->
  <div class="row-fluid search-page">
    <% unless @results.present? %>
      <%= render partial: "share/alert/alert", locals: { title: "Không tìm thấy bất cứ bản nhạc nào, vui lòng thử lại hoặc tìm kiếm với từ khoá khác." } %>
    <% end %>
    <% @results.each_slice(2) do |music| %>
      <div class="row-fluid">
        <% music.each do |item|%>
          <%= render partial: "share/search/item", locals: { item: item } %>
        <% end %>
      </div>
    <% end %>

    <div class="pagination pagination-centered">
      <%= paginate @results, :theme => 'twitter-bootstrap-3' %>
    </div>
  </div><!--/row-fluid-->
<!-- //End Search Result -->
</div><!--/container-->
<!--=== End Content Part ===-->
