<div class="modal fade css_box_model_login" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;  </span>
        </button>
        <h4 class="modal-title custom_title_login" id="myModalLabel">Đăng nhập</h4>
      </div>
      <div class="modal-body">
        <!--=== Content Part ===-->
        <div class="row-fluid">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { multipart: true, class: "log-page" }) do |f| %>
            <h3>Đăng nhập</h3>
            <div class="input-prepend">
              <span class="add-on"><i class="icon-user"></i></span>
              <%= f.email_field :email, autofocus: true, class: "input-xlarge", placeholder: "Email" %>
            </div>
            <div class="input-prepend">
              <span class="add-on"><i class="icon-lock"></i></span>
              <%= f.password_field :password, autocomplete: "off", class: "input-xlarge", placeholder: "Mật Khẩu" %>
            </div>
            <div class="controls form-inline">
              <% if devise_mapping.rememberable? -%>
                <label class="checkbox">
                  <%= f.label "Ghi nhớ mật khẩu" %>
                  <%= f.check_box :remember_me %>
                </label>
              <% end -%>
              <%= f.submit "Đăng Nhập", class: "btn-u pull-right" %>
            </div>
            <p class="css_model_login"><%= link_to "Đăng ký", new_user_registration_path %> | <%= link_to "Quên mật khẩu?", new_user_password_path %></p>
            <p class="css_model_login"><%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %></p>
          <% end %>
        </div><!--/row-fluid-->
      </div>
    </div>
  </div>
</div>

