<%-
  @meta_robots = "index, follow"

  breadcrumb = []
  breadcrumb << { name: "Trang chủ", path: root_path }
  breadcrumb << { name: "Videos" }
-%>
<% title "Video - Siêu nhạc - sieunhac.com" %>
<% description "Dịch vụ chia sẻ video của sieu nhac, đến với trang web siêu nhạc, bạn sẽ tìm thấy tất cả các video đuợc nhiều nguời xem nhất hiện nay trên youtube, đủ các thể loại, từ âm nhạc, thể thao, giải trí, bóng đá,..." %>
<% keywords "sieunhac,video, hai huoc, the thao" %>


<%= render partial: "share/breadcrumb/breadcrumb", locals: { breadcrumb: breadcrumb, title: "Videos" } %>

<link href="http://vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
<script src="http://vjs.zencdn.net/4.12/video.js"></script>
<style type="text/css">
  .vjs-default-skin { color: #d485c2; }
  .vjs-default-skin .vjs-play-progress,
  .vjs-default-skin .vjs-volume-level { background-color: #cf48c8 }
  .vjs-default-skin .vjs-control-bar { font-size: 60% }
</style>
<!--=== Content Part ===-->
<% @videos.each_slice(4) do |video| %>
<div class="container">
  <div class="row-fluid gallery">
    <ul class="thumbnails">
      <% video.each do |item| %>
        <li class="span3">
          <div class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="">
            <div class="overlay-zoom">
              <%= link_to (image_tag item.images, size: "270x191", class: "css_video_image"), video_path(item.slug) %>
              <div class="zoom-icon"></div>
            </div>
            <div><%= item.name %></div>
          </div>
        </li>
      <% end %>
    </ul><!--/thumbnails-->
  </div><!--/row-fluid-->
</div><!--/container-->
<% end %>
<!--=== End Content Part ===-->
<div class="pagination pagination-centered">
  <%= paginate @videos, :theme => 'twitter-bootstrap-3' %>
</div>
