<%= form_for @article, as: :new_article, url: @articles , method: :patch, html: {class: "article_form", id: "id_article_form"}, remote: true do |f| %>
  <td><%= @article.id %></td>
  <td><%= f.text_area :title, class: "form-control", rows: 5, cols: 6 %></td>
  <td><%= f.text_area :short_content, class: "form-control", rows: 5, cols: 6 %></td>
  <td><%= f.text_area :image, class: "form-control", rows: 5, cols: 6 %></td>
  <td><%= f.text_area :content, class: "form-control", rows: 5, cols: 8 %></td>
  <td><%= f.submit "Update", class: "btn btn-success" %> <%= link_to "Cancel", :back, class: "btn btn-danger", remote: true %></td>
<% end %>
