<%-
  breadcrumb = []
  breadcrumb << { name: "Trang chủ", path: root_path }
  breadcrumb << { name: category_news.sub_category, path: category_news_path(category_news.slug) }
  breadcrumb << { name: article.title }
-%>
<%-
  @meta_robots = "index, follow"
  set_meta_tags og: {
    title:    "#{article.title} - sieunhac.com",
    type:     'Website',
    url:      article_url(article.slug),
    image:    article.image,
    description: "#{article.title} #{article.short_content} sieunhac.com"
  }
-%>
<% title "#{article.title} - sieunhac.com" %>
<% description "#{article.title} #{article.short_content} sieunhac.com" %>
<% keywords "sieunhac, #{article.title}, #{category_news.sub_category}" %>

<%= render partial: "share/breadcrumb/breadcrumb", locals: { breadcrumb: breadcrumb, title: "Bài viết" } %>
<!--=== Content Part ===-->
<div class="container">
  <div class="row-fluid blog-page blog-item">
    <!-- Left Sidebar -->
    <div class="span9">
      <div class="blog margin-bottom-30">
        <h3><%= article.title %></h3>
        <ul class="unstyled inline blog-info">
          <li>
            <%= render partial: "share/facebook/share", locals: { url: article_url(article.slug)} %>
            <i class="icon-calendar"></i> <%= format_date_time(article.updated_at) %>
          </li>
        </ul>
        <div class="blog-img css_align_justify">
          <%= raw article.content %>
        </div>
      </div><!--/blog-->
      <div class="media">
        <%= render partial: "share/ad/adsense" %>
      </div>
      <div class="media">
        <div class="fb-comments" data-href="<%= article_url(article.slug) %>" data-width="869.984" data-numposts="5"></div>
      </div><!--/media-->
    </div><!--/span9-->
      <!-- Right Sidebar -->
    <div class="span3">
      <% cache("facebook_fanpage") do %>
        <div class="who margin-bottom-30">
          <div class="headline"><h3>Fan Page</h3></div>
          <%= render partial: "share/facebook/fanpage" %>
        </div>
      <% end %>
      <!-- Blog Latest Tweets -->
      <div class="posts margin-bottom-20">
        <div class="headline"><h3>Bài viết liên quan</h3></div>
        <% article_recommend.each do |recommend| %>
          <dl class="dl-horizontal">
            <dt>
              <%= link_to image_tag(recommend.image), article_path(recommend.slug) %>
            </dt>
            <dd>
              <p><%= link_to recommend.title, article_path(recommend.slug) %></p>
            </dd>
          </dl>
        <% end %>
      </div><!--/posts-->
    </div><!--/span3-->
  </div><!--/row-fluid-->
</div><!--/container-->
<!--=== End Content Part ===-->
