<%= render partial: "articles/item",
    locals: {
      article: @article,
      article_recommend: @article_recommend,
      video_recommend: @article_others,
      category_news: @category_news
    }
%>
