$("#results").append('<%= j render partial: "share/story/story_item", locals: {stories: @stories} %>');
<% if @stories.next_page %>
  $(".pagination").replaceWith('<%= j will_paginate @stories %>');
<% else %>
  $(".pagination").remove();
<% end %>
<% sleep 1 %>