<%-
  @meta_robots = "index, follow"
  breadcrumb = []
  breadcrumb << { name: "Trang chủ", path: root_path }
  breadcrumb << { name: @category_story.try(:name), path: category_story_path(@category_story.id) }
  breadcrumb << { name: @story_type.try(:title) }
-%>
<% title "#{@story_type.try(:name)} - Siêu nhạc - sieunhac.com" %>
<% description "Dịch vụ chia sẻ #{@story_type.try(:name)} của sieu nhac, đến với trang web siêu nhạc, bạn sẽ tìm thấy tất cả các #{@story_type.try(:title)} đuợc nhiều nguời xem nhất hiện nay trên sieu nhac, đủ các thể loại, từ anime, commedy, 18+, adult, Đọc truyện tranh online mới nhất, nhanh nhất như One Piece, Hiệp khách giang hồ, Fairy Tail, Naruto, Bleach,  sieunhac.com, Toriko..." %>
<% keywords "sieunhac,#{@story_type.try(:title)}, Đọc truyện tranh online,One Piece, Hiệp khách giang hồ, Fairy Tail, Naruto, sieunhac.com, Bleach, Toriko" %>
<%= render partial: "share/breadcrumb/breadcrumb",
    locals: { breadcrumb: breadcrumb, title: @story_type.try(:title) }
%>
<div class="container">
  <div id="results">
  <%= render partial: "share/story/story_item", locals: { stories: @stories } %>
  </div>
</div>
<div class="pagination pagination-centered">
  <%= will_paginate @stories %>
</div>