<div class="breadcrumbs margin-bottom-20">
  <div class="container">
    <h1 class="color-green pull-left"><%= title %></h1>
    <ul class="pull-right breadcrumb">
      <% breadcrumb.reverse.each.with_index(1) do |item, index| %>
        <% if index == 1 %>
          <li class="active"><%= item[:name] %> <span class="divider">/</span></li>
        <% elsif index == breadcrumb.size %>
          <li><%= link_to item[:name], item[:path] %> </li>
        <% else %>
          <li><%= link_to item[:name], item[:path] %> <span class="divider">/</span></li>
        <% end %>
          <!-- <li class="active"></li> -->
      <% end %>
    </ul>
  </div><!--/container-->
</div><!--/breadcrumbs-->