<li data-id="id-1" class="ios">
  <a href="portfolio_item.html">
    <em class="overflow-hidden">
      <%= render partial: "shared/youtubes/sublime", locals: {y_id: y_get_id(video[1])} %>
    </em>
    <span>
      <strong><%= set_title(video[0], 18) %></strong>
      <i>Viewed: <%= video[3].to_s(:delimited) %></i>
    </span>
  </a>
</li>

