<script type="text/javascript" src="//cdn.sublimevideo.net/js/00j2omvu.js"></script>
<video id="CR-GnwdiEWA" class="sublime" width="270" height="171" data-uid="<%= y_id %>" data-youtube-id="<%= y_id %>" preload="none">
</video>
