<%-
  breadcrumb = []
  breadcrumb << { name: "Trang chủ", path: root_path }
  breadcrumb << { name: "Videos", path: category_video_path(@video.category_id) }
  breadcrumb << { name: clean_title(@video.name) }
-%>
<%-
  @meta_robots = "index, follow"
  set_meta_tags og: {
    title:    "#{@video.name} | Bài hát, mp3, video, lyrics",
    type:     'Website',
    url:      video_url(@video.slug),
    image:      @video.images,
    description: "Tải download video từ siêu nhạc #{@video.name}"
  }
-%>
<% title "#{@video.name} | Bài hát, mp3, video, lyrics" %>
<% description "Tải download video từ siêu nhạc #{@video.name}" %>
<% keywords "#{@video.name},sieunhac,video, hai huoc, the thao" %>

<%= render partial: "share/breadcrumb/breadcrumb", locals: { breadcrumb: breadcrumb, title: "Video" } %>
<script src="http://jwpsrv.com/library/GvguGCuLEeSxIiIACyaB8g.js"></script>

<!--=== Content Part ===-->
<div class="container">
  <div class="row-fluid blog-page blog-item">
    <!-- Left Sidebar -->
    <div class="span9">
      <div class="blog margin-bottom-30">
        <h3><%= raw @video.name %></h3>
        <ul class="unstyled inline blog-info">
          <li>
            <%= render partial: "share/facebook/share", locals: { url: video_url(@video.slug)} %>
            <i class="icon-calendar"></i> <%= format_date_time(@video.created_at) %>
          </li>
        </ul>
        <div class="blog-img">
          <div id='playerKnAuwtauVTaS'></div>
        </div>
      </div><!--/blog-->
      <div class="media">
        <%= render partial: "share/ad/adsense" %>
      </div>
      <div class="media">
        <div class="fb-comments" data-href="<%= video_url(@video.slug) %>" data-width="869.984" data-numposts="5"></div>
      </div><!--/media-->
      <hr />
  </div><!--/span9-->

  <!-- Right Sidebar -->
  <div class="span3">
    <% cache("facebook_fanpage") do %>
      <div class="who margin-bottom-30">
        <div class="headline"><h3>Fan Page</h3></div>
        <%= render partial: "share/facebook/fanpage" %>
      </div>
    <% end %>
    <!-- Blog Latest Tweets -->
    <div class="posts margin-bottom-20">
      <div class="headline"><h3>Video hot</h3></div>
      <% @video_recommend.each do |recommend| %>
        <dl class="dl-horizontal">
          <dt>
            <%= link_to image_tag(recommend.images), video_path(recommend.slug) %>
          </dt>
          <dd>
            <p><%= link_to recommend.name, video_path(recommend.slug) %></p>
          </dd>
        </dl>
      <% end %>
    </div><!--/posts-->
  </div><!--/span3-->
</div><!--/row-fluid-->
</div><!--/container-->
<!--=== End Content Part ===-->
<script type='text/javascript'>
  jwplayer('playerKnAuwtauVTaS').setup({
    file: "https://www.youtube.com/watch?v=<%= @video.link %>",
    image: '<%= @video.images %>',
    title: 'Play',
    width: '100%',
    aspectratio: '16:9'
  });
</script>
