<div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
  <ul class="nav nav-sidebar">
    <li class="active"><a href="#">Overview</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li class="active"><%= link_to "Bài báo", "" %></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li class="active"><%= link_to "Truyện tranh", "" %></li>
  </ul>
</div><!--/span-->

