<div>
   <h1>This is page about</h1>
   <div ng-app="myApp1" ng-controller="nameCtrl">
     <ul>
       <li ng-repeat="x in names | orderBy : 'Country'">
       <td>{{x.Name}}</td>
       <td>{{x.Country}}</td>
       </li>
     </ul>
   </div>

</div>

