<h1>This is contact form</h1>
<%= form_tag confirm_path, class: "form-horizontal", remote: true do %>
  <div class="form-group">
    <%= label_tag "Name", "Your name" %>
    <%= text_field_tag "name", nil, class: "form-control", placeholder: "Enter your name" %>
  </div>
  <div class="form-group">
    <%= label_tag "Email", "Your email" %>
    <%= text_field_tag "email", nil, class: "form-control", placeholder: "Enter your email" %>
  </div>
  <div class="form-group">
    <%= label_tag "Content", "Your content" %>
    <%= text_area_tag "content", nil, class: "form-control", placeholder: "Enter your content" %>
  </div>
  <div class="form-group">
    <%= submit_tag "Send", class: "btn btn-default", data: {confirm: "Are you sure ?"} %>
  </div>
<% end %>
