<%-
  @meta_robots = "index, follow"
  set_meta_tags og: {
    title:    'Trang chủ - sieunhac.com',
    type:     'Website',
    url:      "#{root_url}",
    image:    "#{image_url('sieunhac_v1.png')}",
    description: "Dịch vụ siêu nhạc với hàng trăm ngàn bài hát, truyện tranh, tiểu thuyết, showbiz,công nghệ,tin tức, sơn tùng mtp, sieunhac.com bạn có thể xem phim, xem video được cập nhật liên tục hàng giờ."
  }
-%>
<% title 'Siêu nhạc | Trang chủ - sieunhac.com' %>
<% description 'Dịch vụ siêu nhạc với hàng trăm ngàn bài hát, truyện tranh, tiểu thuyết, showbiz,công nghệ,tin tức, sơn tùng mtp, sieunhac.com bạn có thể xem phim, xem video được cập nhật liên tục hàng giờ.' %>
<% keywords 'nhac, truyen tranh, tin tuc, sieu nhac, video, son tung, mtp, sieunhac.com, showbiz' %>
<!-- Content Part -->
<div class="container">
  <!-- Service Blocks -->
  <%= render partial: "share/top/service_block_main", locals: { most_videos: @most_videos, title: "Danh sách video" } %>
  <!-- //End Service Blocks -->
  <%= render partial: "share/top/unify", locals: { title: "Sao việt", saoviet: @saoviet } %>
  <%= render partial: "share/top/unify", locals: { title: "Tâm sự", saoviet: @tamsu } %>
  <%= render partial: "share/top/unify", locals: { title: "Ẩm thực", saoviet: @bepeva } %>
  <%= render partial: "share/top/unify", locals: { title: "Đời sống", saoviet: @doisong } %>
  <%= render partial: "share/top/story", locals: { title: "Truyện tranh", truyen: @truyenchu } %>

  <!-- List these musics which hear most of times -->
  <%= render partial: "share/top/service/musics",
     locals: {
       title: "Bài hát nổi bật trong tuần",
       viet_music: @top_musics[0],
       us_music: @top_musics[1],
       lsx_music: @top_musics[2],
       traditional_music: @top_musics[3]} %>

  <!-- //End Accardion and Posts-->

</div><!--/container-->
<!-- End Content Part -->
