<%-
  breadcrumb = []
  breadcrumb << { name: "Trang chủ", path: root_path }
  breadcrumb << { name: "API" }
-%>
<%-
  @meta_robots = "index, follow"
  set_meta_tags og: {
    title:    "API-Sieunhac.com",
    type:     'Website',
    url:      privacy_path,
    description: "API-Sieunhac.com"
  }
-%>
<% title "API-Sieunhac.com" %>
<% description "API-Sieunhac.com" %>
<% keywords "API-Sieunhac.com" %>
<%= render partial: "share/breadcrumb/breadcrumb", locals: { breadcrumb: breadcrumb, title: "" } %>

<div class="container">
  <h1>We are updating API... <%= Time.zone.now %></h1>
  <h1>Please come back on next week</h1>
</div>