<%-
  breadcrumb = []
  breadcrumb << { name: "Trang chủ", path: root_path }
  breadcrumb << { name: "Quy định sử dụng" }
-%>
<%-
  @meta_robots = "index, follow"
  set_meta_tags og: {
    title:    "Quy định sử dụng.",
    type:     'Website',
    url:      privacy_path,
    description: "Quy định sử dụng siêu nhạc."
  }
-%>
<% title "Quy định sử dụng." %>
<% description "Quy định sử dụng siêu nhạc." %>
<% keywords "Quy định sử dụng siêu nhạc, privacy" %>
<%= render partial: "share/breadcrumb/breadcrumb", locals: { breadcrumb: breadcrumb, title: "" } %>

<% cache("cache_page_privacy") do %>
  <div class="container">
    <div class="row-fluid privacy">
      <p class="lead" />
      <h1>Quy định pháp lý</h1>
      <p>Mời bạn vui lòng đọc kỹ các quy định sử dụng website dưới đây trước khi quyết định sử dụng thông tin, dịch vụ, sản phẩm của chúng tôi.</p><br />


      <h4>Trách nhiệm của chúng tôi đối với nội dung đăng tải</h4>
      <ul>
        <li>Các thông tin trên trang web này không phải đều hoàn chỉnh. Mặc dù chúng tôi đã cố gắng hết sức nhưng các thông tin trên trang web có thể không chính xác, chưa cập nhật hoặc không áp dụng đối với các trường hợp của một tình huống cụ thể.</li>

        <li>Mọi thông tin chung trên trang web này được cung cấp với thiện chí và xuất phát từ các nguồn thông tin được tin cậy là chính xác. Chúng tôi không chịu bất kỳ trách nhiệm nào đối với các thông tin chưa chính xác hoặc chưa hoàn chỉnh trên trang web (ngoại trừ các thông tin sai có tính gian lận) và bất kỳ quyết định nào của bạn dựa vào thông tin trên trang web này là trách nhiệm của riêng bạn. Chúng tôi không chịu trách nhiệm về bất kỳ tổn thất hoặc thiệt hại trực tiếp, gián tiếp, đặc biệt là kết quả hoặc tổn thất hoặc thiệt hại dưới hình thức khác phát sinh từ việc truy cập hoặc sử dụng trang web này hoặc bất kỳ thông tin nào trên trang web <%= link_to "sieunhac.com", root_url %>.</li>

        <li>Chúng tôi không bảo đảm rằng bất kỳ dữ liệu nào lấy từ trang web này không bị nhiễm virus hoặc bất kỳ lỗi hoặc khiếm khuyết nào. Trách nhiệm của bạn phải bảo đảm rằng bạn sử dụng phần mềm kiểm tra virus thích hợp. Tùy thuộc vào luật pháp mà không thể bị loại trừ, Chúng tôi không chịu trách nhiệm về bất kỳ tổn thất hoặc thiệt hại trực tiếp, gián tiếp, đặc biệt là kết quả của hoặc tổn thất hoặc thiệt hại dưới hình thức khác phát sinh từ việc truy cập hoặc sử dụng trang web này hoặc bất kỳ thông tin nào trên trang web.</li>

        <li>Mọi thông tin trên trang web <%= link_to "sieunhac.com", root_url %> chỉ mang tính cung cấp thông tin tham khảo và có thể chứa khiếm khuyết, chúng tôi luôn nỗ lực để khắc phục vấn đề này qua email liên hệ. Các tư vấn bệnh lý, sử dụng thuốc hay điều trị bệnh đều phải theo sự chỉ định của bác sĩ. Chúng tôi không chịu bất cứ trách nhiệm nào liên quan tới hậu quả hoặc thiệt hại do sử dụng thông tin từ chúng tôi.</li>
      </ul>

      <h4>Bản Quyền Tác Giả</h4>
      <ul>
        <li>Thông tin tại <%= link_to "sieunhac.com", root_url %> được chọn lọc từ các nguồn khác, bản quyền bài viết thuộc về tác giả nên chúng tôi không chấp nhận bất cứ trách nhiệm nào về các thông tin mà chúng tôi đăng tải, bạn sẽ sử dụng hoặc đặt niềm tin vào những thông tin đó với hiểu biết, trách nhiệm và nguy cơ của riêng bạn.</li>

        <li>Nếu bạn là Tác giả và Bản quyền của bài viết do <%= link_to "sieunhac.com", root_url %> sưu tầm được, xin vui lòng liên hệ với chúng tôi để được bổ sung thông tin về nội dung bài viết và tên tác giả cũng như điều kiện sử dụng.</li>
        <li>Nếu bạn cho rằng quyền sở hữu của bạn đã bị sử dụng theo những cách thức vi phạm quyền tác giả, bạn có thể liên hệ với chúng tôi tại địa chỉ: sieunhac1990@gmail.com</li>
      </ul>

      <h4>Luật Pháp Nào Điều Chỉnh Trang Web Này?</h4>
      <ul>
        <li>Trong trường hợp bất kỳ hoặc phần nào của điều khoản trong các điều khoản và điều kiện tuyên bố là vô hiệu, trái pháp luật hoặc không có hiệu lực thi hành trong phạm vi nào đó theo quyết định của cơ quan nhà nước có thẩm quyền, điều khoản trong phạm vi đó sẽ được tách ra khỏi các điều khoản còn lại và các điều khoản còn lại vẫn tiếp tục có hiệu lực và giá trị thi hành trong phạm vi đầy đủ nhất theo quy định của luật pháp.</li>
      </ul>

      <h4>Thay đổi quy định</h4>
      <ul>
        <li>Chúng tôi có toàn quyền thay đổi quy định mà không cần báo trước. Với việc tiếp tục sử dụng sieunhac.com sau những sửa đổi đó, bạn mặc nhiên đồng ý chấp hành các sửa đổi trong quy định.</li>
      </ul>

      <h4>Luật áp dụng</h4>
      <ul>
        <li>Bạn đồng ý rằng bản Quy định sử dụng và bất kỳ bất đồng nào phát sinh từ việc bạn sử dụng website này hoặc các sản phẩm và dịch vụ của chúng tôi sẽ được giải quyết theo luật pháp hiện hành của Nước Cộng hoà Xã hội Chủ nghĩa Việt Nam. Thông qua việc đăng ký hoặc sử dụng website và dịch vụ của chúng tôi, bạn mặc nhiên đồng ý và tuân thủ toàn bộ các quy định của Luật pháp Việt Nam.</li>
        <li class="css_privacy">Lưu ý: Các điều kiện này có thể được sửa đổi, bổ sung bất cứ lúc nào mà không cần phải báo trước và có hiệu lực ngay khi được thay đổi.
        Vui lòng liên hệ chúng tôi nếu bạn có bất kỳ thắc mắc!</li>
      </ul>
    </div><!--/row-fluid-->
  </div><!--/container-->
  <!--=== End Content Part ===-->
<% end %>