<% chapter.image.split(",").each do |item| %>
  <div class="blog-img">
    <img class="lazy" data-src="<%= item %>" src="http://sieunhac.com/images/download.gif" border="0" alt="" />
  </div>
<% end %>
