<% stories.each_slice(2) do |story| %>
  <div class="row-fluid">
    <% story.each do |item|%>
      <div class="span6 booking-blocks">
        <div class="pull-left booking-img">
          <% if item.image.present? %>
            <%= link_to image_tag(item.image, class: "css_image_search"), story_path(item.slug), target: "_blank", rel: "follow" %>
          <% else %>
            <%= link_to image_tag("/images/stories/story_2.jpg", class: "css_image_search"), story_path(item.slug), target: "_blank", rel: "follow" %>
          <% end %>
          <ul class="unstyled">
            <li><i class="icon-time"></i><%= format_date_time(item.created_at) %></li>
          </ul>
        </div>
        <div style="overflow:hidden;">
          <h2 class="article_title">
            <%= link_to item.name, story_path(item.slug), class: "css_decorate_link_none_article", target: "_blank", rel: "follow" %>
          </h2>
          <%= short_content_article(item.short_content) %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
