<div class="row-fluid margin-bottom-20">
  <!-- Unordered Lists -->
  <% divide_type = (story_types.size / 4.0).ceil %>
  <% story_types.each_slice(divide_type) do |types| %>
    <div class="span3">
      <ul>
        <% types.each do |type| %>
          <li><%= link_to type.title, story_type_path(type.slug) , target: "_blank", rel: "follow"%></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div><!--/row-fluid-->