<footer>
  <div class="container footerWrap">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <h4><i class="fa fa-spinner fa-pulse"></i> BootstrapBay</h4>
        <ul class="list-unstyled">
          <li><a href="/sell"><i class="fa fa-archive"></i> Sell Your Themes</a></li>
          <li><a href="/affiliate"><i class="fa fa-asterisk"></i> Affiliates</a></li>
          <li><a href="/about"><i class="fa fa-book"></i> About Us</a></li>
          <li><a href="/feed"><i class="fa fa-camera"></i> RSS Feed</a></li>
          <li><a href="/sell">Sell Your Themes</a></li>
          <li><a href="/affiliate">Affiliates</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/feed">RSS Feed</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h4><i class="fa fa-refresh fa-spin"></i> Help &amp; Support</h4>
        <ul class="list-unstyled">
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/submission-guidelines">Submission Guidelines</a></li>
          <li><a href="/payment-rates">Payment Rates</a></li>
          <li><a href="/contact-support">Contact Support</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/submission-guidelines">Submission Guidelines</a></li>
          <li><a href="/payment-rates">Payment Rates</a></li>
          <li><a href="/contact-support">Contact Support</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h4><i class="fa fa-cog fa-spin"></i> Resources</h4>
        <ul class="list-unstyled">
          <li><a href="https://stocksnap.io" target="_blank">Free Stock Photos</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/blog/bootstrap-resources/">Resource List</a></li>
          <li><a href="/blog/category/tutorials/">Tutorials</a></li>
          <li><a href="https://stocksnap.io" target="_blank">Free Stock Photos</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/blog/bootstrap-resources/">Resource List</a></li>
          <li><a href="/blog/category/tutorials/">Tutorials</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h4><i class="fa fa-circle-o-notch fa-spin"></i> Social</h4>
        <ul class="list-unstyled">
          <li><a href="https://www.facebook.com/bootstrapbay" target="_blank">Facebook</a></li>
          <li><a href="https://twitter.com/bootstrapbay" target="_blank">Twitter</a></li>
          <li><a href="http://www.youtube.com/user/bootstrapbayofficial" target="_blank">YouTube</a></li>
          <li><a href="https://plus.google.com/+BootstrapbayThemes/posts" target="_blank">Google+</a></li>
          <li><a href="https://www.facebook.com/bootstrapbay" target="_blank">Facebook</a></li>
          <li><a href="https://twitter.com/bootstrapbay" target="_blank">Twitter</a></li>
          <li><a href="http://www.youtube.com/user/bootstrapbayofficial" target="_blank">YouTube</a></li>
          <li><a href="https://plus.google.com/+BootstrapbayThemes/posts" target="_blank">Google+</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="subFooter">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="pull-left">
            © 2015 <a href="http://noscomedia.com/" target="_blank">Nosco Media Inc.</a> /
            <a href="/licenses">Licenses</a> /
            <a href="/terms">Terms &amp; Conditions</a> /
            <a href="/privacy">Privacy Policy</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
