<!--=== Top ===-->
<div class="top">
  <div class="container">
    <ul class="loginbar pull-right">
      <li><i class="icon-globe"></i><a>Languages <i class="icon-sort-up"></i></a>
      <ul class="nav-list">
        <li class="active"><a href="#">English</a> <i class="icon-ok"></i></li>
        <li><a href="#">Spanish</a></li>
        <li><a href="#">Russian</a></li>
        <li><a href="#">German</a></li>
      </ul>
      </li>
      <li class="devider">&nbsp;</li>
      <li><a href="" class="login-btn">Help</a></li>
      <li class="devider">&nbsp;</li>
      <li><a href="" class="login-btn">Login</a></li>
    </ul>
  </div>
</div><!--/top-->
<!--=== End Top ===-->

<!--=== Header ===-->
<div class="header">
  <div class="container">
    <!-- Logo -->
    <div class="logo">
      <a href=""><%= image_tag "img/logo1-default.png", id: "logo-header", alt: "Logo" %></a>
    </div><!-- /logo -->

    <!-- Menu -->
    <div class="navbar">
      <div class="navbar-inner">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a><!-- /nav-collapse -->
        <div class="nav-collapse collapse">
          <ul class="nav top-2">
            <li class="active">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li class="active"><a href="index.html">Option1: Landing Page</a></li>
              <li><a href="">Option2: Header Option</a></li>
              <li><a href="">Option3: Revolution Slider</a></li>
              <li><a href="">Option4: Amazing Content</a></li>
              <li><a href="">Option5: Mixed Content</a></li>
              <li><a href="">Option6: Content with Sidebar</a></li>
              <li><a href="">Option7: Aplle Style Slider</a></li>
              <li><a href="">Home All In One</a></li>
            </ul>
            <b class="caret-out"></b>
            </li>
            <li>
            <a href="" class="dropdown-toggle" data-toggle="dropdown">Pages
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="">About Us</a></li>
              <li><a href="">Services</a></li>
              <li><a href="">Pricing</a></li>
              <li><a href="">Coming Soon</a></li>
              <li><a href="">FAQs</a></li>
              <li><a href="">Search Result</a></li>
              <li><a href="">Gallery</a></li>
              <li><a href="">Registration</a></li>
              <li><a href="">Login</a></li>
              <li><a href="">404</a></li>
              <li><a href="">Clients</a></li>
              <li><a href="">Privacy Policy</a></li>
              <li><a href="">Terms of Service</a></li>
              <li><a href="">2 Columns (Left)</a></li>
              <li><a href="">2 Columns (Right)</a></li>
            </ul>
            <b class="caret-out"></b>
            </li>
            <li>
            <a href="" class="dropdown-toggle" data-toggle="dropdown">Features
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="">Grid Layout</a></li>
              <li><a href="">Typography</a></li>
              <li><a href="">Thumbnails</a></li>
              <li><a href="">Components</a></li>
              <li><a href="">Navigation</a></li>
              <li><a href="">Tables</a></li>
              <li><a href="">Forms</a></li>
              <li><a href="">Icons</a></li>
              <li><a href="">Buttons</a></li>
            </ul>
            <b class="caret-out"></b>
            </li>
            <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="">Portfolio</a></li>
              <li><a href="">Portfolio Item</a></li>
              <li><a href="">Portfolio 2 Columns</a></li>
              <li><a href="">Portfolio 3 Columns</a></li>
              <li><a href="">Portfolio 4 Columns</a></li>
            </ul>
            <b class="caret-out"></b>
            </li>
            <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="">Blog</a></li>
              <li><a href="">Blog Item</a></li>
              <li><a href="">Blog Left Sidebar</a></li>
              <li><a href="">Blog Item Left Sidebar</a></li>
            </ul>
            <b class="caret-out"></b>
            </li>
            <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="">Contact Default</a></li>
              <li><a href="">Contact Boxed Map</a></li>
            </ul>
            <b class="caret-out"></b>
            </li>
            <li><a class="search"><i class="icon-search search-btn"></i></a></li>
          </ul>
          <div class="search-open">
            <div class="input-append">
              <form />
                <input type="text" class="span3" placeholder="Search" />
                <button type="submit" class="btn-u">Go</button>
              </form>
            </div>
          </div>
        </div><!-- /nav-collapse -->
      </div><!-- /navbar-inner -->
    </div><!-- /navbar -->
  </div><!-- /container -->
</div><!--/header -->
<!--=== End Header ===-->

