<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Trang chủ", root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to "Giới thiệu", about_path %>
        </li>
        <li>
          <a href="#">Dịch vụ</a>
        </li>
        <li>
          <%= link_to "Liên hệ", contact_path %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.email %><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Tin nhắn&nbsp;<span class="badge"><%= @unread_messages %></span></a></li>
            <li><a href="#">Cài đăt</a></li>
            <li class="divider"></li>
            <li><%= link_to('Đăng xuất', destroy_user_session_path, :method => :delete) %></li>
          </ul>
        </li>
        <% else %>
          <li><%= link_to('Login', new_user_session_path) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
