<!-- Inline Lists -->
<div class="row-fluid margin-bottom-20">
  <div class="headline"><h3>Danh Sách Thể Loại Nhạc</h3></div>
  <ul class="inline">
    <% top_categories.each do |cate| %>
      <li><h6>&lowast;<%= link_to cate[1], category_show_path(cate[0]), class: "css_top_categories" %></h6></li>
    <% end %>
  </ul>
</div><!--/row-fluid-->
<!--//End Lists and Descriptions -->
