  <div class="row-fluid">
    <div class="span6">
      <div class="headline"><h3>About Us</h3></div>
      <p><%= image_tag "img/work/work4.jpg", class: "pull-right rgt-img-margin img-width-200" %> Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Vivamus imperdiet condimentum diam, eget placerat felis consectetur id.</p>
      <ul class="unstyled">
        <li><i class="icon-ok color-green"></i> Donec id elit non mi porta gravida</li>
        <li><i class="icon-ok color-green"></i> Corporate and Creative</li>
        <li><i class="icon-ok color-green"></i> Responsive Bootstrap Template</li>
        <li><i class="icon-ok color-green"></i> Corporate and Creative</li>
      </ul><br />
      <p><em>Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Cras justo odio, dapibus ac facilisis in, egestas eget quam vamus mperdiet condimentum diam, eget placerat felis consectetur id.</em></p>
      <p class="pull-rgt"><a class="btn-u" href="#">Read more</a></p>
    </div><!--/span6-->
    <div class="span6">
      <div class="headline"><h3>Example carousel</h3></div>
      <div id="myCarousel1" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag "img/carousel/5.jpg" %>
            <div class="carousel-caption">
              <h4>First Thumbnail label</h4>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta.</p>
            </div>
          </div>
          <div class="item">
            <%= image_tag "img/carousel/2.jpg" %>
            <div class="carousel-caption">
              <h4>Second Thumbnail label</h4>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta.</p>
            </div>
          </div>
          <div class="item">
            <%= image_tag "img/carousel/3.jpg" %>
            <div class="carousel-caption">
              <h4>Third Thumbnail label</h4>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta.</p>
            </div>
          </div>
        </div>
        <div class="carousel-arrow">
          <a class="left carousel-control" href="#myCarousel1" data-slide="prev"><i class="icon-angle-left"></i></a>
          <a class="right carousel-control" href="#myCarousel1" data-slide="next"><i class="icon-angle-right"></i></a>
        </div>
      </div>
    </div><!--/span6-->
  </div><!--/row-fluid-->