  <div class="row-fluid">
    <!-- Our Services -->
    <div class="span8">
      <div class="headline"><h3>Our Services</h3></div>
      <div class="row-fluid servive-block">
        <div class="span4">
          <h4><a href="#">Lorem sequat ipsum</a></h4>
          <p><i class="icon-bell"></i></p>
          <p>Donec id elit non mi porta gravida at eget metus id elit mi.</p>
        </div>
        <div class="span4">
          <h4><a href="#">Vivamus imperdiet</a></h4>
          <p><i class="icon-bullhorn"></i></p>
          <p>Donec id elit non mi porta gravida at eget metus id elit mi.</p>
        </div>
        <div class="span4">
          <h4><a href="#">Donec idslacs elit</a></h4>
          <p><i class=" icon-lightbulb"></i></p>
          <p>Donec id elit non mi porta gravida at eget metus id elit mi.</p>
        </div>
      </div><!--/row-fluid-->
    </div><!--/span8-->

    <!-- Latest Shots -->
    <div class="span4">
      <div class="headline"><h3>Latest Shots</h3></div>
      <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag "img/carousel/5.jpg" %>
            <div class="carousel-caption">
              <p>Cras justo odio, dapibus ac facilisis in, egestas.</p>
            </div>
          </div>
          <div class="item">
            <%= image_tag "img/carousel/4.jpg" %>
            <div class="carousel-caption">
              <p>Cras justo odio, dapibus ac facilisis in, egestas.</p>
            </div>
          </div>
          <div class="item">
            <%= image_tag "img/carousel/3.jpg" %>
            <div class="carousel-caption">
              <p>Cras justo odio, dapibus ac facilisis in, egestas.</p>
            </div>
          </div>
        </div>

        <div class="carousel-arrow">
          <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="icon-angle-left"></i></a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="icon-angle-right"></i></a>
        </div>
      </div>
    </div><!--/span4-->
  </div><!--/row-fluid-->