  <div class="row-fluid margin-bottom-20">
    <!-- Who We Are -->
    <div class="span8">
      <div class="headline"><h3>Welcome To UNIFY Template</h3></div>
      <p><%= image_tag "img/carousel/6.jpg", class: "pull-left lft-img-margin img-width-200" %>Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone.</p>
      <ul class="unstyled">
        <li><i class="icon-ok color-green"></i> Donec id elit non mi porta gravida</li>
        <li><i class="icon-ok color-green"></i> Corporate and Creative</li>
        <li><i class="icon-ok color-green"></i> Responsive Bootstrap Template</li>
        <li><i class="icon-ok color-green"></i> Corporate and Creative</li>
      </ul><br />

      <p>Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone. Lorem sequat ipsum dolor lorem sit amet, consectetur adipiscing dolor elit. Unify is an incredibly beautiful responsive Bootstrap Template for It works on all major web.</p>
    </div><!--/span8-->

    <!-- Recent Blog Entries -->
    <div class="span4">
      <div class="posts">
        <div class="headline"><h3>Recent Blog Entries</h3></div>
        <dl class="dl-horizontal">
          <dt><a href="#"><%= image_tag "img/sliders/elastislide/6.jpg" %></a></dt>
          <dd>
            <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p>
          </dd>
        </dl>
        <dl class="dl-horizontal">
          <dt><a href="#"><%= image_tag "img/sliders/elastislide/10.jpg" %></a></dt>
          <dd>
            <p><a href="#">Lorem sequat ipsum dolor lorem sit amet, consectetur adipiscing dolor elit.</a></p>
          </dd>
        </dl>
        <dl class="dl-horizontal">
          <dt><a href="#"><%= image_tag "img/sliders/elastislide/11.jpg" %></a></dt>
          <dd>
            <p><a href="#">It works on all major web browsers, tablets and lorem sequat ipsum dolor.</a></p>
          </dd>
        </dl>
      </div>
    </div><!--/span4-->
  </div><!--/row-fluid-->