<div class="row-fluid">
  <div class="span7">
    <div class="headline"><h3>Unify Accardion</h3></div>
    <!-- Accardion -->
    <div class="accordion acc-home" id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            Anim pariatur cliche reprehenderit
          </a>
        </div>
        <div id="collapseOne" class="accordion-body in collapse" style="height: auto;">
          <div class="accordion-inner">
            <p><%= image_tag "img/work/work1.jpg", class: "lft-img-margin pull-left img-width-200" %> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
          </div>
        </div>
      </div><!--/accordion-group-->
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            Nihil anim keffiyeh helvetica
          </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
          <div class="accordion-inner">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div><!--/accordion-group-->
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
            Brunch 3 wolf moon tempor
          </a>
        </div>
        <div id="collapseThree" class="accordion-body collapse" style="height: 0px;">
          <div class="accordion-inner">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div><!--/accordion-group-->
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
            Labore wes anderson cred
          </a>
        </div>
        <div id="collapseFour" class="accordion-body collapse" style="height: 0px;">
          <div class="accordion-inner">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div><!--/accordion-group-->
    </div><!--/accardion-->
  </div><!--/span7-->

  <!-- Posts -->
  <div class="span5">
    <div class="posts">
      <div class="headline"><h3>Recent Blog Entries</h3></div>
      <dl class="dl-horizontal">
        <dt><a href="#"><%= image_tag "img/sliders/elastislide/6.jpg" %></a></dt>
        <dd>
          <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p>
        </dd>
      </dl>
      <dl class="dl-horizontal">
        <dt><a href="#"><%= image_tag "img/sliders/elastislide/10.jpg" %></a></dt>
        <dd>
          <p><a href="#">Lorem sequat ipsum dolor lorem sunt aliqua put a bird sit amet, consectetur adipiscing dolor elit.</a></p>
        </dd>
      </dl>
      <dl class="dl-horizontal">
        <dt><a href="#"><%= image_tag "img/sliders/elastislide/11.jpg" %></a></dt>
        <dd>
          <p><a href="#">It works on all major web browsers, tablets and aliqua lorem sequat ipsum dolor.</a></p>
        </dd>
      </dl>
      <dl class="dl-horizontal">
        <dt><a href="#"><%= image_tag "img/sliders/elastislide/9.jpg" %></a></dt>
        <dd>
          <p><a href="#">Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch.</a></p>
        </dd>
      </dl>
    </div>
  </div><!--/span5-->
</div><!--/row-fluid-->