<div class="headline"><h3>Video đặc sắc trong ngày</h3></div>
<ul class="thumbnails">
  <% y_display_four_videos.each do |video| %>
  <li class="span3">
    <div class="thumbnail-style thumbnail-kenburn">
      <div class="thumbnail-img">
        <div class="overflow-hidden">
          <%= render partial: "shared/youtubes/sublime", locals: {y_id: y_get_id(video[1])} %>
        </div>
      </div>
      <h3><a class="hover-effect" href="#"><%= set_title(video[0], 26) %></a></h3>
      <p><%= y_set_lyrics(video[2], 140) %></p>
    </div>
  </li>
  <% end %>
</ul><!--/thumbnails-->
