<div class="row-fluid">
  <div class="headline">
    <h3><%= title %></h3>
  </div>
  <ul class="thumbnails">
    <% most_videos.each do |video| %>
    <li class="span3 thumbnail-style thumbnail-kenburn">
      <div class="overflow-hidden">
        <%= link_to image_tag(video.images, class: "css_image_top"), video_path(video.slug) %>
      </div>
      <p><%= link_to clean_title(video.name), video_path(video.slug), class: "css_saoviet_top" %></p>
    </li>
    <% end %>
  </ul><!--/thumbnails-->
</div>
