  <div class="row-fluid servive-block">
    <div class="span4">
      <h4>Lorem sequat ipsum de</h4>
      <p><i class="icon-bell"></i></p>
      <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>
    </div>
    <div class="span4">
      <h4>Vivamus imperdiet gravi</h4>
      <p><i class="icon-bullhorn"></i></p>
      <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>
    </div>
    <div class="span4">
      <h4>Donec idslacs elit nomi</h4>
      <p><i class="icon-lightbulb"></i></p>
      <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>
    </div>
  </div><!--/row-fluid-->