<div class="row-fluid">
  <div class="headline">
    <h3><%= title %></h3>
  </div>
  <ul class="thumbnails">
    <% truyen.each do |item| %>
    <li class="span3 thumbnail-style thumbnail-kenburn">
      <div class="overflow-hidden">
        <%= link_to image_tag(item.image, class: "css_image_top"), story_path(item.slug) %>
      </div>
      <p><%= link_to item.name, story_path(item.slug), class: "css_saoviet_top" %></p>
      <p><%= item.short_content.truncate(150) %></p>
    </li>
    <% end %>
  </ul><!--/thumbnails-->
</div>
