<div class="row-fluid margin-bottom-30">
  <!-- Testimonials -->
  <div class="span4">
    <div class="headline"><h3>Giáo dục</h3></div>
    <div id="testimonal_carousel" class="carousel slide">
      <div class="carousel-inner">
        <% article_education.each_with_index do |education, index| %>
          <% education_active = index == 0 ? "active item" : "item" %>
          <div class="<%= education_active %>">
            <div class="testimonial">
              <div class="testimonial-body">
                <p><h4><%= link_to education.try(:title), article_path(education.id) %></h4></p>
                <%= link_to image_tag(education.image, class: "pull-left lft-img-margin img-width-200"), article_path(education.id) %>
                <p><%= education.short_content %></p>
              </div>
            </div>
          </div><!--/carousel-inner-->
        <% end %>
      </div><!--/testimonal_carousel-->

      <!-- Carousel nav -->
      <div class="testimonal-arrow">
        <a class="icon-angle-right" href="#testimonal_carousel" data-slide="next"></a>
        <a class="icon-angle-left" href="#testimonal_carousel" data-slide="prev"></a>
      </div>
    </div>
  </div><!--/span4-->

  <!-- Tabs -->
  <div class="span8">
    <div class="headline"><h3>Tin tức</h3></div>
    <ul class="nav nav-tabs tabs">
      <li class="active"><a href="#1article" data-toggle="tab">Công nghệ</a></li>
      <li><a href="#2article" data-toggle="tab">Thể thao</a></li>
      <li><a href="#3article" data-toggle="tab">Thời sự</a></li>
    </ul>
    <!--/tabs-->
    <div class="tab-content">
      <% articles.each.with_index(1) do |article, index| %>
        <% article_active = index == 1 ? "tab-pane active" : "tab-pane" %>
        <div class="<%= article_active %>" id="<%= index %>article">
          <%= link_to image_tag(article.image, class: "pull-left lft-img-margin img-width-200"), article_path(article.id) %>
          <h4><%= link_to article.try(:title), article_path(article.id) %></h4>
          <p><%= article.short_content %></p>
        </div>
      <% end %>
    </div><!--/tab-content-->
  </div><!--/span8-->
</div>