Welcome to example.com, <%= @user[:name] %>
===============================================

You have successfully signed up to example.com,
your username is: <%= @user[:email] %>.

To login to the site, just follow this link: <%= @url %>.

Thanks for joining and have a great day!
