<div class="span9">
  <% news.each do |new| %>
  <div class="blog margin-bottom-30">
    <h3><%= link_to new.try(:name), blog_path(new.try(:id)) %></h3>
    <ul class="unstyled inline blog-info">
      <li><i class="icon-calendar"></i> <%= new.try(:updated_at) %></li>
      <li><i class="icon-pencil"></i> <%= new.try(:author) %></li>
      <li><i class="icon-pencil"></i> <%= link_to "Edit", edit_blog_path(new.try(:id)) %></li>
      <li><i class="icon-pencil"></i><%= link_to 'Destroy', blog_path(new.try(:id)), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <li><i class="icon-comments"></i> <a href="#">24 Comments</a></li>
    </ul>
    <ul class="unstyled inline blog-tags">
      <li>
        <i class="icon-tags"></i>
        <a href="#">Technology</a>
        <a href="#">Education</a>
        <a href="#">Internet</a>
        <a href="#">Media</a>
      </li>
    </ul>
    <div class="blog-img"><%= image_tag new.image %></div>
    <p><%= truncate(new.content, length: 499) %></p>
    <p><%= link_to "Read more", blog_path(new.try(:id)), class: "btn-u btn-u-small" %></p>
  </div><!--/blog-->
  <% end %>

  <div class="pagination pagination-centered">
    <%= will_paginate news, renderer: BootstrapPagination::Rails %>
  </div>
</div><!--/span9-->
