<div class="posts margin-bottom-20">
  <div class="headline"><h3>Recent Blog Entries</h3></div>
  <dl class="dl-horizontal">
    <dt><a href="#"><img src="/assets/img/sliders/elastislide/6.jpg" alt="" /></a></dt>
    <dd>
      <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p>
    </dd>
  </dl>
  <dl class="dl-horizontal">
    <dt><a href="#"><img src="/assets/img/sliders/elastislide/10.jpg" alt="" /></a></dt>
    <dd>
      <p><a href="#">Lorem sequat ipsum dolor lorem sunt aliqua put a bird sit amet consectetur.</a></p>
    </dd>
  </dl>
  <dl class="dl-horizontal">
    <dt><a href="#"><img src="/assets/img/sliders/elastislide/11.jpg" alt="" /></a></dt>
    <dd>
      <p><a href="#">It works on all major web browsers, tablets and aliqua lorem sequat ipsum.</a></p>
    </dd>
  </dl>
</div><!--/posts-->
