<div class="tab-content">
  <div class="tab-pane active" id="home">
    <p>Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Pellentesque fermentum, Vivamus  felis consectetur eget orci metus.</p>
  </div>
  <div class="tab-pane" id="profile">
    <p>Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac adipiscing nunc.</p>
  </div>
</div><!--/tab-content-->
