<div class="headline"><h3>Tabs Widget</h3></div>
<ul class="nav nav-tabs tabs">
  <li class="active"><a href="#home" data-toggle="tab">First Tab</a></li>
  <li><a href="#profile" data-toggle="tab">Second Tab</a></li>
</ul><!--/tabs-->
