<div class="headline"><h3>Blog Tags</h3></div>
<ul class="unstyled inline blog-tags">
  <li><a href="#"><i class="icon-tags"></i> Business</a></li>
  <li><a href="#"><i class="icon-tags"></i> Music</a></li>
  <li><a href="#"><i class="icon-tags"></i> Internet</a></li>
  <li><a href="#"><i class="icon-tags"></i> Money</a></li>
  <li><a href="#"><i class="icon-tags"></i> Google</a></li>
  <li><a href="#"><i class="icon-tags"></i> TV Shows</a></li>
  <li><a href="#"><i class="icon-tags"></i> Education</a></li>
  <li><a href="#"><i class="icon-tags"></i> People</a></li>
  <li><a href="#"><i class="icon-tags"></i> People</a></li>
  <li><a href="#"><i class="icon-tags"></i> Math</a></li>
  <li><a href="#"><i class="icon-tags"></i> Photos</a></li>
  <li><a href="#"><i class="icon-tags"></i> Electronics</a></li>
  <li><a href="#"><i class="icon-tags"></i> Apple</a></li>
  <li><a href="#"><i class="icon-tags"></i> Canada</a></li>
</ul>
