<% articles.each do |article| %>
  <tr id="id_<%= article.id %>">
    <td><%= article.id %></td>
    <td><%= article.title.truncate(30) %></td>
    <td><%= article.short_content.truncate(30) %></td>
    <td><%= article.image.truncate(30) %></td>
    <td><%= article.content.truncate(30) %></td>
    <td><%= link_to "Edit", edit_article_path(article.slug), remote: true, class: "btn btn-warning" %></td>
  </tr>
<% end %>

