<% if params[:condition_sort] == "Time" %>
  $('#id_results').html('<%= j render partial: "admin/home/article", locals: { articles: @articles } %>')
<% else %>
  $('#id_results').html('<%= j render partial: "admin/home/article", locals: { articles: @articles } %>')
<% end %>
