<div class="col-sm-9 col-md-10 main">
  <!--toggle sidebar button-->
  <p class="visible-xs">
  <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
  </p>
  <h1 class="page-header">
    Dashboard
    <p class="lead">(<a href="http://www.bootply.com/128936">with off-canvas sidebar</a>)</p>
  </h1>

  <div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder text-center">
      <img src="//placehold.it/200/6666ff/fff" class="center-block img-responsive img-circle" alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder text-center">
      <img src="//placehold.it/200/66ff66/fff" class="center-block img-responsive img-circle" alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder text-center">
      <img src="//placehold.it/200/6666ff/fff" class="center-block img-responsive img-circle" alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder text-center">
      <img src="//placehold.it/200/66ff66/fff" class="center-block img-responsive img-circle" alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
    </div>
  </div>

  <hr>

  <h2 class="sub-header">Section title</h2>
  <%= select_tag "sort_article", options_for_select([ "Name", "Time" ], "Name"), {id: "id_sort_article", class: "btn btn-mini"} %>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>ShortContent</th>
          <th>Image</th>
          <th>Content</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="id_results">
        <%= render partial: "admin/home/article", locals: {articles: @articles} %>
      </tbody>
    </table>
    <%= paginate @articles %>
  </div>
</div><!--/row-->
<footer class="text-center">This Bootstrap 3 dashboard layout is compliments of <a href="http://www.bootply.com/85850"><strong>Bootply.com</strong></a></footer>
