<div class="yuzo_related_post">
  <div class="yuzo_clearfixed">
    <h3 class="title_recommend">Bạn đã xem chưa?</h3>
  </div>
  <div class="yuzo_wraps">
    <% video_recommend.each do |recommend| %>
    <div class="relatedthumb" style="width: 265px; float: left; overflow: hidden; height: 282px;">
      <span class="equalizer-inner" style="display:block;">
        <a>
          <div class="yuzo-img-wrap " style="width: 265px;height:230px;">
            <div class="yuzo-img" style="background:url('<%= image_url(recommend.images) %>') 50% 50% no-repeat;width: 265px;height:230px;margin-bottom: 5px;background-size: cover; ">
            </div>
          </div>
          <span class="yuzo__text--title" style="font-size:14px;font-weight:bold;">
            <%= link_to recommend.name, video_path(recommend.slug), target: "_blank", rel: "follow" %>
          </span>
        </a>
      </span>
    </div>
    <% end %>
  </div>
  <style type="text/css">
    .title_recommend {
      color: #72C02C !important;
    }
    .yuzo_related_post img {
      width:260px !important;
      height:250px !important;
    }
    .yuzo_related_post .relatedthumb {
      line-height:16px;
      background: !important;
      color:!important;
    }
    .yuzo_related_post .relatedthumb:hover{background:#fcfcf4 !important; -webkit-transition: background 0.2s linear; -moz-transition: background 0.2s linear; -o-transition: background 0.2s linear; transition: background 0.2s linear;;color:!important;}
    .yuzo_related_post .relatedthumb a {
      color:!important;
    }
    .yuzo_related_post .relatedthumb a:hover { color:}!important;}
    .yuzo_related_post .relatedthumb:hover a {
     color:!important;
    }
    .yuzo_related_post .relatedthumb:hover .yuzo__text--title {
     color:!important;
    }
    .yuzo_related_post .yuzo_text, .yuzo_related_post .yuzo_views_post {
      color:!important;
    }
    .yuzo_related_post .relatedthumb:hover .yuzo_text, .yuzo_related_post:hover .yuzo_views_post {color:!important;}
    .yuzo_related_post .relatedthumb {
      margin: 0px 0px 0px 0px;
      padding: 5px 5px 5px 5px;
    }
    .yuzo_related_post .relatedthumb .yuzo-img {
      -webkit-transition:all 0.3s ease-out;
      -moz-transition:all 0.3s ease-out;
      -o-transition:all 0.3s ease-out;
      -ms-transition:all 0.3s ease-out;
      transition:all 0.3s ease-out;
    }
    .yuzo_related_post .relatedthumb .yuzo-img-wrap {
      overflow:hidden;
    }
    .yuzo_related_post .relatedthumb:hover .yuzo-img {
      opacity: 0.7;
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  </style>
</div>