<% articles.each_slice(2) do |music| %>
  <div class="row-fluid">
    <% music.each do |item|%>
      <div class="span6 booking-blocks">
        <div class="pull-left booking-img">
          <% if item.image.present? %>
            <%= link_to image_tag(item.image, class: "css_image_search"), article_path(item.slug), target: "_blank", rel: "follow" %>
          <% else %>
            <%= link_to image_tag("/images/musics/default.jpg", class: "css_image_search"), article_path(item.slug), target: "_blank", rel: "follow" %>
          <% end %>
          <ul class="unstyled">
            <li><i class="icon-time"></i><%= format_date_time(item.updated_at) %></li>
          </ul>
        </div>
        <div style="overflow:hidden;" class="css_article_content_show">
          <h2 class="article_title">
            <%= link_to item.title, article_path(item.slug), class: "css_decorate_link_none_article", target: "_blank", rel: "follow" %>
            <% if hot_news?(item.updated_at) %>
              <span class="css_hot_news" data-toggle="tooltip" title="Bài viết mới cập nhật" data-placement="top">Mới</span>
            <% end %>
          </h2>
          <%= short_content_article(item.short_content) %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
