<%-
  breadcrumb = []
  breadcrumb << { name: "Trang chủ", path: root_path }
  breadcrumb << { name: @category_news.sub_category}
-%>

<%-
  @meta_robots = "index, follow"
  set_meta_tags og: {
    title:    "#{@category_news.sub_category} - Siêu nhạc - sieunhac.com",
    type:     'Website',
    url:      category_news_url(@category_news.slug),
    description: @category_news.name
  }
-%>
<% title "#{@category_news.sub_category} - Siêu nhạc - sieunhac.com" %>
<% description "#{@category_news.sub_category} sieu nhac,Economy,Online,Internet,Tin nhanh,cập nhật,báo điện tử,Tin tuc, sieunhac" %>
<% keywords "sieunhac, #{@category_news.name}, #{@category_news.sub_category}" %>

<%= render partial: "share/breadcrumb/breadcrumb", locals: { breadcrumb: breadcrumb, title: @category_news.sub_category } %>
<!--=== Content Part ===-->
<div class="container">
  <!-- Search Result -->
  <div class="row-fluid search-page">
    <% unless @articles.present? %>
    <%= render partial: "share/alert/alert", locals: { title: "Không tìm thấy bất cứ bản tin nào, vui lòng thử lại hoặc tìm kiếm với từ khoá khác." } %>
    <% end %>
    <div class="result">
      <%= render partial: "category_news/item", locals: {articles: @articles} %>
    </div>

    <%= will_paginate @articles %>

  </div><!--/row-fluid-->
<!-- //End Search Result -->
</div><!--/container-->
<!--=== End Content Part ===-->
