$(".result").append('<%= j render partial: "category_news/item", locals: {articles: @articles} %>');
<% if @articles.next_page %>
  $(".pagination").replaceWith('<%= j will_paginate @articles %>');
<% else %>
  $(".pagination").remove();
<% end %>
<% sleep 1 %>