.css_top_categories {
  color: rgb(215, 155, 0);
}
.css_modified_headline {
  border-bottom: 0px;
}
.css_category_header {
  background-color: greenyellow;
}
.css_blog_button {
  text-align: center;
}
.css_video_image {
  width: 100%;
  height: 171px;
}
.service .desc h4.css_top_title {
  font-size: 14px;
}
.headline.top_page {
  margin:10px 0 0px 0 !important;
}
.booking-blocks h2.article_title {
  margin-bottom: 1px;
}
a.active_breadcrumb {
  color: #74C52C !important;
}

.css_image_search {
  width: auto;
  height: auto;
  max-width: 140px;
  max-height: 116px;
}
@media only screen and (max-width: 580px) {
  .css_image_search {
    width: 100% !important;
    max-width: none;
    max-height: none;
  }
  .booking-blocks .booking-img {
    width: 100% !important;
  }
  .css_article_content_show {
    float: left;
  }
}

.css_image_search_recommend {
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 150px;
}

.css_recommend_grid {
  display: block;
}

.css_bx-wrapper_recommend {
  position: relative;
}

.css_video_recommend {
  width: auto;
  height: auto;
  max-width: 180px;
  max-height: 180px;
}

.yuzo_related_post {
  overflow: hidden;
  padding: 10px 0;
  margin: 10px 0;
  width: 100%;
  display: block;
  clear: both;
}
.css_image_category_stories {
  width: auto;
  height: auto;
  max-width: 260px !important;
  max-height: 164px !important;
}
.css_chapter_align {
  text-align: center !important;
}
.css_chapter_align:not(img) {
  text-align: justify;
  font-size: 18px;
}
.css_align_justify:not(img) {
  text-align: justify;
  font-size: 17px;
}
.css_align_justify img {
  text-align: center;
  display: block;
  margin: 0 auto;
}
.css_decorate_link_none_article {
  text-decoration: none !important;
}

.animation_image {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: 1px solid #E1FFFF;
  background: #F9FFFF;
}
.css_saoviet_top {
  font-size: 15px !important;
  font-weight: bold;
}
.css_image_top {
  width: 100%;
  height: auto;
  height: 180px;
}
.css_button_back_to_top {
  width:51px;
  height:42px;
}
.css_hot_news {
  color: rgb(234, 11, 50);
  font-size: 14px;
  display: inline;
  border-color: #FF9900;
  background-color: #FF9900;
  border-radius: 4px !important;
  cursor: pointer;
}
a.dropdown-toggle {
  cursor: pointer;
}
.css_privacy {
  color: green;
  font-weight: bold;
}
.custom_title_login {
  text-align: center;
  font-weight: bold !important;
  color: green;
}
.css_model_login {
  text-align: center;
  color: rgb(1, 128, 1);
  font-weight: bold;
}
.css_box_model_login {
  display: none;
}