<%-
  @meta_robots = "index, follow"
  breadcrumb = []
  breadcrumb << { name: "Trang chủ", path: root_path }
  breadcrumb << { name: @category_story.try(:name) }
-%>
<% title "#{@category_story.try(:name)} - Siêu nhạc - sieunhac.com" %>
<% description "Dịch vụ chia sẻ #{@category_story.try(:name)} của sieu nhac, đến với trang web siêu nhạc, bạn sẽ tìm thấy tất cả các #{@category_story.try(:name)} đuợc nhiều nguời xem nhất hiện nay trên sieu nhac, đủ các thể loại, từ anime, commedy, sieunhac.com, 18+, adult,..." %>
<% keywords "sieunhac,#{@category_story.try(:name)}, hai huoc, the thao, truyen tranh" %>

<%= render partial: "share/breadcrumb/breadcrumb",
    locals: { breadcrumb: breadcrumb, title: @category_story.try(:name) }
%>

<div class="container">
  <div class="row-fluid">
    <%= render partial: "share/story/story_type", locals: { story_types: @story_types } %>
    <% @story_hots.each_slice(4) do |story_hot| %>
      <% story_hot.each do |item| %>
        <%= render partial: "share/story/story_item", locals: { item: item } %>
      <% end %>
    <% end %>
  </div>
</div>