<div>
  <div>
    <%= link_to "Create new", new_music_path %>
  </div>
  <h1>This is page list all musics</h1>
  <div>
    <% @musics.each do |music| %>
      <%= music.title %>
      <%= music.type_music %>
    <% end %>
  </div>
</div>
<%= paginate @musics %>
