<%-
  @title_tag = "#{song_title(@music["title"], false)}-#{@music["singer"]} | Bài hát, mp3, lyrics"
  @meta_title = "#{song_title(@music["title"], false)}-#{@music["singer"]} | Bài hát, mp3, lyrics - Siêu nhạc - sieunhac.com"
  @meta_description = "sieunhac.com #{song_title(@music["title"], false)}, #{@music["singer"]}. #{song_lyrics(@music["lyrics"], true)}. Tải download 320 nhạc chờ từ siêu nhạc #{song_title(@music["title"], false)},#{@music["singer"]}"
  @meta_robots = "index, follow"
  @meta_keywords = "#{song_title(@music["title"], false)}, #{@music["singer"]}, , , loi bai hat, tai nhac 320, lossless, nhac cho"
  @meta_author = "Bản quyền của dịch vụ sieu nhac."
  breadcrumb = []
  breadcrumb << { name: "Trang chủ", path: root_path }
  breadcrumb << { name: @music["singer_name"], path: singer_show_path(@music["singer_id"].to_i)}
  breadcrumb << { name: song_title(@music["title"], false) }
-%>

<%= render partial: "share/breadcrumb/breadcrumb", locals: { breadcrumb: breadcrumb, title: "Bài hát" } %>
<!--=== Content Part ===-->
<div class="container">
  <div class="row-fluid blog-page blog-item">
    <!-- Left Sidebar -->
    <div class="span9">
      <div class="blog margin-bottom-30">
        <h3><%= song_title(@music["title"], false) %></h3>
        <ul class="unstyled inline blog-info">
          <li><i class="icon-calendar"></i> <%= @music["updated_at"] %></li>
          <li><i class="icon-pencil"></i> <%= song_singer(@music["singer_name"], false) %></li>
        </ul>
        <ul class="unstyled inline blog-tags">
          <li>
            <i class="icon-tags"></i>
            <%= link_to @music["type_music"], "" %>
            <%= link_to @music["country"], "" %>
          </li>
        </ul>
        <div class="blog-img">
          <%= render partial: "share/media", locals: { music: @music } %>
        </div>
        <%= render partial: "share/facebook/share", locals: { url: music_url(@music["id"])} %>
        <blockquote class="hero">
          <p><%= song_lyrics(@music["lyrics"], false) %></p>
        </blockquote>
      </div><!--/blog-->
      <hr />

      <!-- Media -->
      <div class="media">
        <div class="fb-comments" data-href="<%= music_url(@music["id"].to_i) %>" data-width="869.984" data-numposts="5"></div>
      </div><!--/media-->
    </div><!--/span9-->

    <!-- Right Sidebar -->
    <div class="span3">
      <!-- Blog Tags -->
      <div class="headline"><h3>Blog Tags</h3></div>
      <ul class="unstyled inline blog-tags">
        <li><a href="#"><i class="icon-tags"></i> Business</a></li>
      </ul>

      <!-- Blog Latest Tweets -->
      <div class="blog-twitter">
        <div class="headline"><h3>Bài hát liên quan</h3></div>
        <% @music_recommend.each do |recommend| %>
          <p>
            <li><i class="icon-user-md"></i><%= song_title(recommend["title"], false) %></li>
            <% if recommend["singer_image"].present? %>
              <%= link_to image_tag(recommend["singer_image"], class: "css_video_recommend", title: recommend["title"]), music_path(recommend["id"].to_i), target: "_blank", rel: "follow" %>
            <% else %>
              <%= link_to image_tag("/images/musics/default.jpg", class: "css_video_recommend", title: recommend["title"]), music_path(recommend["id"].to_i), target: "_blank", rel: "follow" %>
            <% end %>
          </p>
        <% end %>
      </div>
    </div><!--/span3-->
  </div><!--/row-fluid-->
</div><!--/container-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript">
  $(function() {
    $('.slider4').bxSlider({
      slideWidth: 200,
      minSlides: 2,
      maxSlides: 5,
      moveSlides: 1,
      captions: true,
      slideMargin: 10
    });
  });
</script>
