<div>
  <%= form_for music, as: :music, url: musics_path, method: :post, html: { class: "", id: "" } do |f| %>
    <div class="form-group">
      <%= f.label :title, "Title" %>
      <%= f.text_field :title, class: "form-control", placeholder: "Enter title" %>
    </div>

    <div class="form-group">
      <%= f.label :type_music, "Type music" %>
      <%= f.text_field :type_music, class: "form-control", placeholder: "Enter type music" %>
    </div>

    <div class="form-group">
      <%= f.label :format, "Format" %>
      <%= f.text_field :format, class: "form-control", placeholder: "Enter format" %>
    </div>

    <div class="form-group">
      <%= f.label :album, "Album" %>
      <%= f.text_field :album, class: "form-control", placeholder: "Enter album" %>
    </div>

    <div class="form-group">
      <%= f.label :singer, "Singer" %>
      <%= f.text_field :singer, class: "form-control", placeholder: "Enter singer" %>
    </div>

    <div class="form-group">
      <%= f.label :quantity, "Quantity" %>
      <%= f.text_field :quantity, class: "form-control", placeholder: "Enter quantity" %>
    </div>

    <div class="form-group">
      <%= f.label :country, "Country" %>
      <%= f.collection_select :country, StaticCountry.all, :id, :name, { prompt: true }, { class: "form-control" } %>
    </div>

    <div class="form-group">
      <%= f.label :lyrics, "Lyrics" %>
      <%= f.text_area :lyrics, size: "20x10", class: "form-control", placeholder: "Enter lyrics" %>
    </div>

    <div class="form-group">
      <%= f.label :artist, "Artist" %>
      <%= f.text_field :artist, class: "form-control", placeholder: "Enter artist" %>
    </div>

    <div class="form-group">
      <%= f.label :information, "Information" %>
      <%= f.text_area :information, size: "20x10", class: "form-control", placeholder: "Enter information" %>
    </div>

    <div class="form-group">
      <%= f.label :url, "Url" %>
      <%= f.text_field :url, class: "form-control", placeholder: "Enter url" %>
    </div>

    <div class="form-group">
      <%= f.label :url_original, "Url original" %>
      <%= f.text_field :url_original, class: "form-control", placeholder: "Enter url original" %>
    </div>

    <div class="form-group">
      <%= f.label :birthday_singer, "Birthday singer" %>
      <%= f.text_field :birthday_singer, id: "user_birthday_picker", class: "form-control", placeholder: "Enter birthday singer" %>
    </div>

    <div class="form-group">
      <%= f.label :site_id, "Site" %>
      <%= f.collection_select :site_id, StaticSite.all, :id, :name, { prompt: true }, { class: "form-control" } %>
    </div>

    <div class="form-group">
      <%= f.label :image, "Image" %><br />
      <%= f.file_field :image %>
    </div>

    <div class="form-group">
      <%= f.submit "Create", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
