<%-
  @title_tag = "#{@chapter.try(:title)} - Siêu nhạc - sieunhac.com"
  @meta_description = "sieunhac.com Dịch vụ chia sẻ #{@chapter.try(:title)} của sieu nhac, đến với trang web siêu nhạc, bạn sẽ tìm thấy tất cả các #{@chapter.try(:title)} đuợc nhiều nguời xem nhất hiện nay trên sieu nhac, đủ các thể loại, từ anime, commedy, 18+, adult, Đọc truyện tranh online mới nhất, nhanh nhất như One Piece, Hiệp khách giang hồ, Fairy Tail, Naruto, Bleach,  sieunhac, Toriko..."
  @meta_robots = "index, follow"
  @meta_keywords = "sieunhac,#{@chapter.try(:title)}, Đọc truyện tranh ,sieunhac.com, online,One Piece, Hiệp khách giang hồ, Fairy Tail, Naruto, Bleach, Toriko"
  @meta_author = "Bản quyền của dịch vụ sieu nhac."

  breadcrumb = []
  breadcrumb << { name: "Trang chủ", path: root_path }
  breadcrumb << { name: @story.try(:name), path: story_path(@story.slug) }
  breadcrumb << { name: @chapter.try(:title) }
-%>

<%= render partial: "share/breadcrumb/breadcrumb",
    locals: { breadcrumb: breadcrumb, title: @chapter.try(:title) }
%>

<div class="container">
  <div class="row-fluid blog-page blog-item">
    <!-- Left Sidebar -->
    <div class="span12 css_align_justify">
      <div class="blog margin-bottom-30">
        <%= form_tag choose_chapter_path(story_id: @story.slug, id: params[:choose_chapter]), method: :get do %>
          <%= select_tag(:choose_chapter, options_for_select(@list_chapters, params[:choose_chapter]) %>
          <%= submit_tag "Submit" %>
        <% end %>
        <% if @chapter.recognize == 0 %>
          <%= render partial: "share/story/chapter_picture", locals: { chapter: @chapter } %>
        <% elsif @chapter.recognize == 1 %>
          <%= @chapter.content.html_safe %>
        <% else %>
        <% end %>
      </div><!--/blog-->
    </div><!--/span9-->
  </div><!--/row-fluid-->
</div><!--/container-->
<!--=== End Content Part ===-->
