<%-
  breadcrumb = []
  breadcrumb << { name: "Trang chủ", path: root_path }
  breadcrumb << { name: @category_story.try(:name), path: category_story_path(@category_story.id) }
  breadcrumb << { name: @story_type.title, path: story_type_path(@story_type.slug) }
  breadcrumb << { name: @story.try(:name), path: story_path(@story.slug) }
  breadcrumb << { name: @chapter.try(:title) }
-%>
<%-
  @meta_robots = "index, follow"
  set_meta_tags og: {
    title:    "#{@chapter.try(:title)} - Siêu nhạc - sieunhac.com",
    type:     'Website',
    image:      @chapter.image.split(",").first,
    description: "sieunhac.com Dịch vụ chia sẻ #{@chapter.try(:title)} của sieu nhac, đến với trang web siêu nhạc, bạn sẽ tìm thấy tất cả các #{@chapter.try(:title)} đuợc nhiều nguời xem nhất hiện nay trên sieu nhac, đủ các thể loại, từ anime, commedy, 18+, adult, Đọc truyện tranh online mới nhất, nhanh nhất như One Piece, Hiệp khách giang hồ, Fairy Tail, Naruto, Bleach,  sieunhac, Toriko..."
  }
-%>
<% title "#{@chapter.try(:title)} - Siêu nhạc - sieunhac.com" %>
<% description "sieunhac.com Dịch vụ chia sẻ #{@chapter.try(:title)} của sieu nhac, đến với trang web siêu nhạc, bạn sẽ tìm thấy tất cả các #{@chapter.try(:title)} đuợc nhiều nguời xem nhất hiện nay trên sieu nhac, đủ các thể loại, từ anime, commedy, 18+, adult, Đọc truyện tranh online mới nhất, nhanh nhất như One Piece, Hiệp khách giang hồ, Fairy Tail, Naruto, Bleach,  sieunhac, Toriko..." %>
<% keywords "sieunhac,#{@chapter.try(:title)}, Đọc truyện tranh ,sieunhac.com, online,One Piece, Hiệp khách giang hồ, Fairy Tail, Naruto, Bleach, Toriko" %>

<%= render partial: "share/breadcrumb/breadcrumb",
    locals: { breadcrumb: breadcrumb, title: @chapter.try(:title) }
%>

<div class="container">
  <div class="row-fluid blog-page blog-item">
    <!-- Left Sidebar -->
    <div class="span12 css_align_justify">
      <div class="blog margin-bottom-30">
        <% if @chapter.recognize == 0 %>
          <%= render partial: "share/story/chapter_picture", locals: { chapter: @chapter } %>
        <% elsif @chapter.recognize == 1 %>
          <%= @chapter.content.html_safe %>
        <% else %>
        <% end %>
      </div><!--/blog-->
    </div><!--/span9-->
  </div><!--/row-fluid-->
</div><!--/container-->
<!--=== End Content Part ===-->



