<!DOCTYPE html>
<html>
<head>
  <title>Sieunhac Admin</title>
  <%= stylesheet_link_tag    "admin", media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "admin", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: "admin/share/header" %>
  <div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">
      <%= render partial: "admin/share/left_side" %>
      <%= yield %>
    </div>
  </div>
  </div>
</body>
</html>
