<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <!-- Meta -->
  <meta name="robots" content="<%= meta_robots %>" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= display_meta_tags %>
  <meta content='sieunhac.com' name='author'/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Language" content="vi">
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
  <%= render partial: "share/top" %>

  <% cache ("cache_application_header_page") do %>
    <%= render partial: "share/header" %>
  <% end %>

  <%= yield %>
  <% cache("footer_page") do %>
    <%= render partial: "share/copyright" %>
  <% end %>

  <!-- JS Global Compulsory -->
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
   <!--[if lt IE 9]>
      <script src="assets/js/respond.js"></script>
  <![endif]-->
  <% cache("facebook_comment") do %>
  <%= render partial: "share/facebook/comment" %>
  <% end %>
</body>
</html>
