<%-
  breadcrumb = []
  breadcrumb << { name: "Trang chủ", path: root_path }
  breadcrumb << { name: "Đăng ký", path: "" }
-%>

<% title "Đăng ký - sieunhac.com" %>
<%= render partial: "share/breadcrumb/breadcrumb", locals: { breadcrumb: breadcrumb, title: "Đăng ký" } %>
<div class="container">
  <div class="row-fluid margin-bottom-10">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true, class: "reg-page" }) do |f| %>
    <h3>Đăng ký</h3>
    <div class="controls">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, autofocus: true, class: "span12" %>
      <% if resource.errors[:first_name].present? %>
        <% resource.errors[:first_name].each do |error| %>
          <span class="label label-important"><%= error %></span>
        <% end %>
      <% end %>
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "span12" %>
      <% if resource.errors[:last_name].present? %>
        <% resource.errors[:last_name].each do |error| %>
          <span class="label label-important"><%= error %></span>
        <% end %>
      <% end %>
      <%= f.label :nick_name %>
      <%= f.text_field :nick_name, autofocus: true, class: "span12" %>
      <% if resource.errors[:nick_name].present? %>
        <% resource.errors[:nick_name].each do |error| %>
          <span class="label label-important"><%= error %></span>
        <% end %>
      <% end %>
      <%= f.label :email do %>
        Email <span class="color-red">*</span>
      <% end %>
      <%= f.email_field :email, class: "span12" %>
      <% if resource.errors[:email].present? %>
        <% resource.errors[:email].each do |error| %>
          <span class="label label-important"><%= error %></span>
        <% end %>
      <% end %>
      <%= f.hidden_field :avatar, :value => "image_default" %>
      <%= f.label :birthday %>
      <%= f.text_field :birthday, id: "user_birthday_picker", class: "span12" %>
    </div>
    <div class="controls">
      <div class="span6">
        <%= f.label :password do %>
          Password <span class="color-red">*</span>
        <% end %>
        <%= f.password_field :password, autocomplete: "off", class: "span12" %>
        <% if resource.errors[:password].present? %>
          <% resource.errors[:password].each do |error| %>
          <span class="label label-important"><%= error %></span>
        <% end %>
        <% end %>
      </div>
      <div class="span6">
        <%= f.label :password_confirmation do %>
          Confirm Password <span class="color-red">*</span>
        <% end %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "span12" %>
      </div>
    </div>
    <div class="controls form-inline">
      <label class="checkbox"><input type="checkbox" />&nbsp; Tôi đã đọc <%= link_to "quy định sử dụng", privacy_path %></label>
      <%= f.submit "Đăng ký", class: "btn-u pull-right" %>
    </div>
    <hr />
    <%= render "users/shared/links" %>
  <% end %>
</div><!--/row-fluid-->
  </div><!--/container-->